* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: rgb(233, 233, 233);
  font-family: "Poppins", sans-serif;
}
.background {
  background: url(/imagenes/background-portafolio.png);
  width: 100%;
  height: 500px;
  background-size: cover;
  position: relative;
}
.navbar {
  background: rgba(0, 0, 0, 0.507);
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  color: white;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 4;
}
.navbarScroll {
  background: rgb(216, 216, 216);
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  color: black;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 4;
}
.briefCaseIcon {
  font-size: 40px;
  display: flex;
}
.navbarlist {
  display: flex;
}
.navbarlist a {
  margin: 15px;
  color: white;
  text-decoration: none;
  position: relative;
  cursor: pointer;
}
.navbarScroll .navbarlist a {
  margin: 15px;
  color: black;
  text-decoration: none;
  position: relative;
  cursor: pointer;
}
.navbarScroll .navbarlist a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px; /* Grosor de la línea */
  background-color: #000000; /* Color del borde inferior */
  bottom: 0;
  left: 0;
  transition: width 0.3s ease-in-out; /* Transición para suavizar el efecto */
}
.navbarScroll .navbarlist a:hover::before {
  width: 100%; /* Ancho completo al hacer hover */
}
.navbarlist a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px; /* Grosor de la línea */
  background-color: #ffffff; /* Color del borde inferior */
  bottom: 0;
  left: 0;
  transition: width 0.3s ease-in-out; /* Transición para suavizar el efecto */
}
.navbarlist a:hover::before {
  width: 100%; /* Ancho completo al hacer hover */
}

.info h2 {
  color: white;
  font-size: 40px;
  font-weight: 300;
  top: 250px;
  position: absolute;
  letter-spacing: 3px;
  padding-left: 30px;
}
.info p {
  font-size: 35px;
  position: absolute;
  top: 330px;
  padding-left: 30px;
  color: white;
  font-weight: 200;
}
.profileImage {
  position: absolute;
  right: 30px;
  bottom: 60px;
  width: auto;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profileDesign {
  width: 300px;
  height: 300px;
  display: flex;
  position: relative;
}
.backgrounProfileImage {
  background: url(/imagenes/fotoperfil.jpg);
  width: 300px;
  height: 300px;
  background-size: cover;
  border-radius: 50%;
  display: flex;
  position: absolute;
}
.backgroundCircle {
  background: rgba(0, 0, 0, 0.5);
  width: 300px;
  border: 2px solid white;
  height: 300px;
  border-radius: 50%;
  position: absolute;
  display: flex;
}
.squigly-line {
  position: absolute;
  right: 350px;
  top: 20px;
  z-index: 1;
  animation: squigly 2.5s linear infinite;
}
@keyframes squigly {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}
.cube {
  position: absolute;
  right: 350px;
  top: 300px;
  z-index: 1;
  animation: cube 2.5s linear infinite;
}
@keyframes cube {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}
.polygon {
  position: absolute;
  right: 550px;
  top: 200px;
  z-index: 1;
  animation: cube 2.5s linear infinite;
}
@keyframes polygon {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}
/*----------------ACERCA DE MI ------------------*/
.aboutme {
  margin-bottom: 50px;
}
.aboutme h2 {
  padding-top: 30px;
  font-size: 40px;
  padding-left: 30px;
  padding-bottom: 20px;
  letter-spacing: 2px;
}
.aboutme p {
  padding-left: 30px;
  width: 900px;
}
/*---------------FORMACION ACADEMICA -------------*/

.formacion {
  background: black;
  overflow: hidden;
  position: relative;
  padding-bottom: 30px;
}
.formacion div {
  margin: 15px;
}
.formacion h2 {
  padding-top: 30px;
  font-size: 40px;
  padding-left: 30px;
  padding-bottom: 20px;
  color: white;
  letter-spacing: 2px;
}

.formacion p {
  padding-left: 20px;
  width: 900px;
  color: white;
  font-weight: 450;
  font-size: 25px;
}
.birrete {
  width: 200px;
  height: 100px;
  position: absolute;
  top: 60px;
  right: 20px;
}
#parallelogram {
  width: 200px;
  height: 150px;
  transform: skew(20deg);
  background: purple;
  border-radius: 5px;
  position: absolute;
  right: 40px;
  top: 50px;
}
#graduaciontHat {
  position: absolute;
  top: 20px;
  right: 20px;
}
#nombreuniversidad {
  text-decoration: underline;
}
#universidad {
  font-weight: 300;
  font-size: 17px;
}
#fecha {
  font-size: 16px;
  font-weight: 300;
}
/*------------CERTIFICADO------------*/
.certificados {
  overflow: hidden;
  position: relative;
  padding-bottom: 30px;
}
.certificados div {
  margin: 15px;
}
.certificados h2 {
  padding-top: 30px;
  font-size: 40px;
  padding-left: 30px;
  padding-bottom: 20px;
  color: black;
  letter-spacing: 2px;
}

.certificados p {
  padding-left: 20px;
  width: 900px;
  color: black;
  font-weight: 450;
  font-size: 25px;
}
.birrete {
  width: 200px;
  height: 100px;
  position: absolute;
  top: 60px;
  right: 20px;
}
#burst-12 {
  background: orange;
  width: 150px;
  height: 150px;
  position: relative;
  text-align: center;
  position: relative;
  top: 250px;
  right: 50px;
}
#burst-12:before,
#burst-12:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 150px;
  width: 150px;
  background: orange;
}
#burst-12:before {
  transform: rotate(30deg);
}
#burst-12:after {
  transform: rotate(60deg);
}

#certificationImage {
  position: absolute;
  top: 240px;
  right: 60px;
}
#nombreuniversidad {
  text-decoration: underline;
}
#certificadoNombre {
  font-weight: 300;
  font-size: 17px;
}
#fecha {
  font-size: 16px;
  font-weight: 300;
}
/*--------------GALERIA DE FOTOS-------------*/
#galeria {
  position: relative;
  overflow: hidden;
  height: 730px;
  background: radial-gradient(
    circle,
    rgba(209, 206, 207, 1) 0%,
    rgba(221, 230, 241, 1) 100%
  );
}
.sliderImage {
  width: auto;
  height: auto;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#galeria h2 {
  padding-left: 30px;
  padding-top: 20px;
  font-weight: 300;
}
.imageTituloContainer {
  margin: 10px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}
.carousel-image {
  width: 100%;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100%; /* Ensure the container takes the full height */
}
.imageTitulo {
  margin: 0 auto;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

/*---------EXPERIENCIA CONTAINER -------------*/
#experiencia {
  margin-top: 30px;
}
#experiencia h2 {
  padding-left: 30px;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 3px;
}
#tituloExperiencia {
  font-size: 25px;
  padding-left: 30px;
  margin-top: 20px;
}
#experienciaCentro {
  font-size: 20px;
  font-weight: 300;
  padding-left: 30px;
}
#experienciaFecha {
  padding-left: 30px;
}
.experienciaContainer {
  display: flex;
  justify-content: space-between;
}
.listExperiencia {
  width: 600px;
  text-align: left;
  margin-top: 30px;
  margin-left: 30px;
  line-height: 2;
}
#instalaciones {
  background-image: url("/imagenes/Instalaciones.JPG");
  background-size: cover;
  width: 300px;
  height: 500px;
  margin-right: 40px;
  border: 3px solid white;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}
/*-----------HABILIDADES---------*/
#habilidades {
  background: black;
  margin-top: 50px;
}
#habilidades h2 {
  color: white;
  padding-left: 20px;
  padding-top: 20px;
}
.habilidadContainer {
  display: flex;
  justify-content: space-between;
}
.habilidadInfo {
  width: 400px;
  margin: 30px;
  padding-bottom: 20px;
  position: relative;
  background: radial-gradient(
    circle,
    rgba(209, 206, 207, 1) 0%,
    rgba(221, 230, 241, 1) 100%
  );
  border-radius: 5px;
}
.habilidadInfo p {
  color: black;
  padding-top: 3px;
  padding-left: 10px;
  font-size: 15px;
}
#habilitadTituloFinanzas {
  font-size: 20px;
  color: white;
  background: orange;
  margin: 10px;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
}
#habilitadTituloGestion {
  font-size: 20px;
  color: white;
  background: rgb(114, 114, 219);
  margin: 10px;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
}
#habilitadTituloSoftware {
  font-size: 20px;
  color: white;
  background: rgb(48, 131, 199);
  margin: 10px;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
}
#graphic {
  font-size: 50px;
  color: orange;
  position: absolute;
  bottom: -10px;
  right: 8px;
}
#IconGestion {
  font-size: 50px;
  color: rgb(114, 114, 219);
  position: absolute;
  bottom: -10px;
  right: 8px;
}
#network {
  font-size: 50px;
  color: rgb(48, 131, 199);
  position: absolute;
  bottom: -10px;
  right: 8px;
}

/*----------IDIOMAS------------*/
#idiomas {
  margin-top: 60px;
}
.idiomasContainer {
  display: flex;
  justify-content: center;
}
.idiomasContainer div {
  margin: 80px;
  margin-top: 0;
}
.idiomasBox h2 {
  text-decoration: underline;
  text-align: center;
}
.idiomasBox p {
  padding-left: 30px;
  font-size: 20px;
  text-align: center;
}

/*-------FOOTER----------*/
#footer {
  background: rgb(0, 0, 0);
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
#footer p {
  font-size: 20px;
  display: flex;
}
